-r BLKARC-Module-API_TuDelft/requirements.txt

bosdyn-client >= 3.1
bosdyn-mission >= 3.1
build
tqdm
windows-curses ; sys_platform == 'win32'
numpy~=1.21.6
pyqt5~=5.15.9
protobuf~=3.19.4
qrcode~=7.4.2
opencv-python~=4.8.0.76
Pillow~=9.5.0