[Unit]
Description=BLK ARC Service for Spot

[Service]
Environment=HOME=/home/spot
EnvironmentFile=/home/spot/.env

ExecStart=/home/spot/impactlab/spot-keygene/scripts/start_lidar.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
